<div>
    <h2>Step 2 : Select your config and options</h2>
    <form>
       <label for="config">Config</label>
       <select id="configSelect" [(ngModel)]="selectedConfig" name="config" (ngModelChange)="onSelectConfigChange()"> 
           <option *ngFor="let config of carOption?.configs" [ngValue]="config">{{config.description}}</option>
       </select>
      
       <div>Range: {{selectedConfig?.range}} miles - Max Speed: {{selectedConfig?.speed}} - Cost:$ {{selectedConfig?.price | number: '1.2-2'}}</div>
       <div *ngIf="carOption?.towHitch">
       <label for="towHitch">Tow hitch? </label>
       <input type="checkbox" id="includeTow" name="towHitch" [(ngModel)]="towHitchChecked" (ngModelChange)="onTowHitchChange()">
       </div>

       <div *ngIf="carOption?.yoke">
       <label for="yoke">Yoke steering wheel? </label>
       <input type="checkbox" id="includeYoke" name="yoke" [(ngModel)]="yokeChecked" (ngModelChange)="onYokeChange()">
       </div>
    </form>
   </div>