<div>
    <h2>Step 1 : Choose your model and color</h2>
    <form>
       <label for="model">Model</label>
       <select id="modelSelect" [(ngModel)]="selectedModel" name="model" (ngModelChange)="onSelectModelChange()"> 
           <option *ngFor="let model of carModels" [ngValue]="model">{{model.description}}</option>
       </select>
   
       <label for="color">color</label>
       <select id="colorSelect" [(ngModel)]="selectedColor" name="color" *ngIf="selectedModel" (ngModelChange)="onSelectColorChange()">
           <option *ngFor="let color of selectedModel.colors" [ngValue]="color">{{color.description}}</option>
       </select>
    </form>
   </div>
